<!-- <iframe
  [src]="pdfBase64 | safeUrl"
  width="100%"
  type="application/pdf"
  height="600px"
  frameborder="0">
</iframe> -->

<!-- <img serverImage [path]="imagePath" [maximize]="true" class="h-28 w-36 object-cover"> -->

<div class="p-4 grid grid-nogutter items-start justify-start gap-3">

  <!-- <button pButton type="button" label="AQUIIII SPEAK" icon="fas fa-angle-left" class="p-button-rounded p-button-text p-button-plain text-xl" styleClass="p-button-lg" (click)="speak()"></button> -->

  <!-- <div smzDroppable="groupA" class="w-96 h-96 bg-slate-200 p-4 grid grid-nogutter items-start justify-start gap-3" (onDrop)="dropToA()">
    <ng-container *ngFor="let item of groupA; let index = index">
      <div smzDraggable [allow]="['groupB']" [block]="['groupA']" [index]="index" [data]="item" class="w-20 h-20 grid grid-nogutter items-center flex-col justify-center" [ngClass]="item.name" dragEffect="move" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd()">
        <div class="mx-auto my-auto font-extrabold text-3xl text-center">{{ item.id }}</div>
      </div>
    </ng-container>
  </div>

  <div smzDroppable="groupB" class="w-96 h-96 bg-slate-200 p-4 grid grid-nogutter items-start justify-start gap-3" (onDrop)="dropToB()">
    <ng-container *ngFor="let item of groupB; let index = index">
      <div smzDraggable [allow]="['groupA']" [block]="['groupB']" [index]="index" [data]="item" class="w-20 h-20 grid grid-nogutter items-center flex-col justify-center" [ngClass]="item.name" dragEffect="move" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd()">
        <div class="mx-auto my-auto font-extrabold text-3xl text-center">{{ item.id }}</div>
      </div>
    </ng-container>
  </div> -->
</div>

<!-- <div
  [ngClass]="{ 'translate-x-[90%] opacity-60': isMinimized }"
  class="absolute inset-y-6 right-6 p-0 transition ease-in-out sm:col-12 md:col-8 lg:col-4 xl:col-3">

    <div class="relative w-full h-full max-w-full p-0 m-0 rounded-xl bg-surface-b shadow-2xl float-right">

     <div class="relative w-full h-full p-0 overflow-y-auto rounded-xl">


      </div>

      <div *ngIf="!isMinimized" class="absolute top-0 right-0 p-6">
        <button pButton type="button" icon="fas fa-angle-right" class="p-button-rounded p-button-text p-button-plain text-xl bg-gray-900/30" styleClass="p-button-lg" (click)="minimize()"></button>
      </div>

      <div *ngIf="isMinimized" class="absolute top-0 left-0 p-6">
        <button pButton type="button" icon="fas fa-angle-left" class="p-button-rounded p-button-text p-button-plain text-xl bg-gray-900/90" styleClass="p-button-lg" (click)="restore()"></button>
      </div>

    </div>

</div> -->