<!-- <iframe
  [src]="pdfBase64 | safeUrl"
  width="100%"
  type="application/pdf"
  height="600px"
  frameborder="0">
</iframe> -->

<!-- <img serverImage [path]="imagePath" [maximize]="true" class="h-28 w-36 object-cover"> -->

<div class="p-4 grid grid-nogutter items-start justify-start gap-3">

  <div smzDroppable="groupA" class="w-96 h-96 bg-slate-200 p-4 grid grid-nogutter items-start justify-start gap-3" (onDrop)="dropToA()">
    <ng-container *ngFor="let item of groupA; let index = index">
      <div smzDraggable [allow]="['groupB']" [block]="['groupA']" [index]="index" [data]="item" class="w-20 h-20 grid grid-nogutter items-center flex-col justify-center" [ngClass]="item.name" dragEffect="move" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd()">
        <div class="mx-auto my-auto font-extrabold text-3xl text-center">{{ item.id }}</div>
      </div>
    </ng-container>
  </div>

  <div smzDroppable="groupB" class="w-96 h-96 bg-slate-200 p-4 grid grid-nogutter items-start justify-start gap-3" (onDrop)="dropToB()">
    <ng-container *ngFor="let item of groupB; let index = index">
      <div smzDraggable [allow]="['groupA']" [block]="['groupB']" [index]="index" [data]="item" class="w-20 h-20 grid grid-nogutter items-center flex-col justify-center" [ngClass]="item.name" dragEffect="move" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd()">
        <div class="mx-auto my-auto font-extrabold text-3xl text-center">{{ item.id }}</div>
      </div>
    </ng-container>
  </div>
</div>