<smz-ui-tree-with-details [state]="state" (selectionChange)="onSelectionChanged($event)" (detailsChange)="onDetailsChanged()">

  <ng-template pTemplate="header">
    <div class="grid items-center justify-between grid-nogutter mb-2">
      <div>Header Template</div>
    </div>
  </ng-template>

  <ng-template pTemplate="toolbar">
    <div class="grid items-center justify-between grid-nogutter mb-2">
      <div>Toolbar Template</div>
    </div>
  </ng-template>

  <ng-template pTemplate="type:folder" let-node>
    <span>folder => {{ node.label }}</span>
  </ng-template>

  <ng-template pTemplate="type:file" let-node>
    <span>file => {{ node.label }} ({{ node.data?.name }})</span>
  </ng-template>

    <!-- CONTEÚDOS COM OVERRIDE -->
    <ng-template pTemplate="details" let-item let-type="type">

      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'file'">

          <div class="grid grid-nogutter flex-col justify-start gap-2">

            <!-- HEADER -->
            <div class="col grid grid-nogutter items-center justify-between">
              <h3 class="m-0">Detalhes</h3>
              <smz-ui-form-submit [form]="formComponent" (save)="updateModel($event)"></smz-ui-form-submit>
            </div>

            <!-- CONTEÚDO -->
            <div class="relative col">
              <smz-form-group #formComponent [config]="formStateBuilderFunction | stateBuilder : item"></smz-form-group>
            </div>
          </div>

        </ng-container>

        <ng-container *ngSwitchCase="'folder'">
          -- is folder.
          <div class="grid grid-nogutter items-start justify-start gap-2">
            <button class="col-4 p-button-danger" pButton (click)="block()" label="Block"></button>
            <button class="col-4 p-button-success" pButton (click)="unblock()" label="Unblock"></button>
          </div>
        </ng-container>
      </ng-container>

    </ng-template>

</smz-ui-tree-with-details>