<smz-ui-tree-with-details [state]="state" (selectionChange)="onSelectionChanged($event)" (detailsChange)="onDetailsChanged()">

  <ng-template pTemplate="type:folder" let-node>
    <span>folder => {{ node.label }}</span>
  </ng-template>

    <!-- CONTEÚDOS COM OVERRIDE -->
    <ng-template pTemplate="details" let-item let-type="type">

      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'file'">
          >> is file.
        </ng-container>

        <ng-container *ngSwitchCase="'folder'">
          -- is folder.
          <button pButton (click)="block()">block</button>
          <button pButton (click)="unblock()">unblock</button>
        </ng-container>
      </ng-container>

    </ng-template>

</smz-ui-tree-with-details>