<smz-ui-tree-with-details [state]="state" (selectionChange)="onSelectionChanged($event)" (detailsChange)="onDetailsChanged()">

  <ng-template pTemplate="type:folder" let-node>
    <span>folder => {{ node.label }}</span>
  </ng-template>

    <!-- CONTEÚDOS COM OVERRIDE -->
    <ng-template pTemplate="details" let-item let-type="type">

      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'file'">
          >> is file.
        </ng-container>

        <ng-container *ngSwitchCase="'folder'">
          -- is folder.
          <div class="grid grid-nogutter items-start justify-start gap-2">
            <button class="col-4 p-button-danger" pButton (click)="block()" label="Block"></button>
            <button class="col-4 p-button-success" pButton (click)="unblock()" label="Unblock"></button>
          </div>
        </ng-container>
      </ng-container>

    </ng-template>

</smz-ui-tree-with-details>