.smz-dialog-minimized {
    z-index: -1 !important;
    display: none !important;
}

.smz-button-success {
    .ui-button {
        color: #fff;
        background-color: #107d11;
        border: 1px solid #107d11;

        &:hover {
            color: #fff;
            background-color: #107d11;
        }
    }

    .p-button {
        color: #fff;
        background-color: #107d11;
        border: 1px solid #107d11;

        &:hover {
            color: #fff;
            background-color: #107d11;
        }
    }
}
