.smz-dialog-minimized {
    z-index: -1 !important;
    display: none !important;
}

.smz-button-success {
    .ui-button {
        color: #fff;
        background-color: #107d11;
        border: 1px solid #107d11;

        &:hover {
            color: #fff;
            background-color: #107d11;
        }
    }

    .p-button {
        color: #fff;
        background-color: #107d11;
        border: 1px solid #107d11;

        &:hover {
            color: #fff;
            background-color: #107d11;
        }
    }
}

.smz-button-ghost {
    .ui-button {
        color: var(--secondary-color);
        background-color: #fff0;
        border: 1px solid var(--secondary-color);

        &:hover {
            color: var(--surface-f);
            background-color: var(--secondary-color);
        }
    }

    .p-button {
        color: var(--secondary-color);
        background-color: #fff0;
        border: 1px solid var(--secondary-color);

        &:hover {
            color: var(--surface-f);
            background-color: var(--secondary-color);
        }
    }
}

.smz-button-danger {
    .ui-button {
        color: #fff;
        background-color: #f44336;
        border: 1px solid #f44336;

        &:hover {
            color: #fff;
            background-color: #e53935;
        }
    }

    .p-button {
        color: #fff !important;
        background-color: #f44336 !important;
        border: 1px solid #f44336 !important;

        &:hover {
            color: #fff !important;
            background-color: #e53935 !important;
        }
    }
}
