<smz-svg [state]="mapData$ | async"></smz-svg>

<div class="absolute top-5 left-5">
  <button pButton type="button" class="p-button p-button-ghost" label="RESET" (click)="reset()"></button>
  <button pButton type="button" class="p-button p-button-ghost" label="BRA612" (click)="moveToId('BRA612')"></button>
  <button pButton type="button" class="p-button p-button-ghost" label="BRA670" (click)="moveToId('BRA670')"></button>
  <button pButton type="button" class="p-button p-button-ghost" label="BRA1313" (click)="moveToId('BRA1313')"></button>
  <button pButton type="button" class="p-button p-button-ghost" label="BRA629" (click)="moveToId('BRA629')"></button>
  <button pButton type="button" class="p-button p-button-ghost" label="POSITION" (click)="moveToPosition()"></button>
</div>