<div class="grid grid-nogutter align-content-start justify-content-start h-full">

  <!-- TREE -->
  <div class="h-full col-12 lg:col-4 p-2">
    <div class="h-full w-full rounded shadow-md p-3">
      <div class="h-full">
        <smz-ui-tree [items]="items" [state]="treeState" (selectionChange)="selectionChanged($event)"></smz-ui-tree>
      </div>
    </div>
  </div>

  <!-- DETAILS -->
  <div class="h-full col-12 lg:col-8 p-2">
    <div class="h-full align-content-stretch flex-column grid justify-content-start grid-nogutter py-3 rounded shadow-md w-full overflow-y-auto">
      <p-tabView [(activeIndex)]="selectedTabIndex">
        <p-tabPanel header="Código">

          <!-- CONTEÚDO -->
          <ng-container *ngIf="selectedNode != null; else noSelectionTemplate">

            <!-- HEADER -->
            <div class="grid grid-nogutter align-content-center justify-content-between py-2">
              <h3 class="m-0">{{ selectedNode | demoTitle }}</h3>

              <!-- AÇÕES -->
              <div>
                <button *ngIf="selectedNode.demoType === 'dialog'" pButton pRipple type="button" label="Executar"
                  class="p-button-success" (click)="selectedNode.data()"></button>
              </div>
            </div>

            <!-- CONTEÚDO -->
            <div class="flex-grow relative w-full mt-1 mb-3 h-full overflow-y-auto">
              <p>{{ selectedNode.notes }}</p>
              <demo-code-block [code]="$any(selectedNode.data)"></demo-code-block>
            </div>

          </ng-container>

          <ng-template #noSelectionTemplate>
            <div class="grid grid-nogutter align-content-center justify-content-center p-4 flex-column flex-grow mt-10">
              <i class="fas fa-info-circle text-5xl text-yellow-500 mb-4"></i>
              <div class="text-lg">Escolha um demo.</div>
            </div>
          </ng-template>

        </p-tabPanel>

        <p-tabPanel header="Formulário" [disabled]="selectedNode?.demoType !== 'form'">
          <app-demo-form *ngIf="selectedNode?.demoType === 'form' "  [node]="selectedNode"></app-demo-form>
        </p-tabPanel>

        <p-tabPanel header="Tabela" [disabled]="selectedNode?.demoType !== 'table'">
          <app-demo-table *ngIf="selectedNode?.demoType === 'table' "  [node]="selectedNode"></app-demo-table>
        </p-tabPanel>

        <p-tabPanel header="Gráfico" [disabled]="selectedNode?.demoType !== 'chart'">
          <app-demo-chart *ngIf="selectedNode?.demoType === 'chart' "  [node]="selectedNode"></app-demo-chart>
        </p-tabPanel>

        <p-tabPanel header="Documento" [disabled]="selectedNode?.demoType !== 'document'">
          <app-demo-document *ngIf="selectedNode?.demoType === 'document' "  [node]="selectedNode"></app-demo-document>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>

</div>