<!-- <smz-ui-hephaestus-layout [menu]="menuService.menu" [notifications]="menuService.notifications" [profile]="menuService.profile">

  <router-outlet></router-outlet>

  <ng-template pTemplate="headerExtras">
    extras
  </ng-template>

  <ng-template pTemplate="footerExtras">
    extras 2
  </ng-template>

</smz-ui-hephaestus-layout> -->

<smz-ui-new-athena-layout [menu]="menuService.menu" [notifications]="menuService.notifications" [profile]="menuService.profile">

  <router-outlet></router-outlet>

  <ng-template pTemplate="headerExtras">
    extras 1
  </ng-template>

  <ng-template pTemplate="footerExtras">
    extras 2
  </ng-template>

</smz-ui-new-athena-layout>

<smz-faqs></smz-faqs>