<smz-ui-hephaestus-layout [menu]="menuService.menu" [notifications]="menuService.notifications" [profile]="menuService.profile">

  <router-outlet></router-outlet>

  <ng-template pTemplate="headerExtras">
    <div smzUiBlock #extraContainer [component]="extraContainer" class="py-2 px-6">

      <ng-container *ngIf="$any(extraContainer)?.block?.blocked; else unblockedTemplate">
        <div class="cursor-pointer">This container is Blocked</div>
      </ng-container>

      <ng-template #unblockedTemplate>
        <div class="cursor-pointer" (click)="log(extraContainer)">This container is Unlocked</div>
      </ng-template>

    </div>
  </ng-template>

  <ng-template pTemplate="footerExtras">
    extras 2
  </ng-template>

</smz-ui-hephaestus-layout>

<!-- <smz-ui-new-athena-layout [menu]="menuService.menu" [notifications]="menuService.notifications" [profile]="menuService.profile">

  <router-outlet></router-outlet>

  <ng-template pTemplate="headerExtras">
    extras 1
  </ng-template>

  <ng-template pTemplate="footerExtras">
    extras 2
  </ng-template>

</smz-ui-new-athena-layout> -->

<smz-faqs></smz-faqs>