app-annual-planning-general-data {

  app-preliminary-data-table .p-panel-content {
    min-height: 400px;
  }

  app-preliminary-data-visualization .p-panel-content {
    min-height: 300px;
  }

  app-preliminary-data-gauge .p-panel-content {
    min-height: 150px;
  }

  .row-header {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    display: grid;
  }

  .row-table {
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    display: grid;
  }

  .panel {
    padding: 8px;
  }

}