<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Angular Routes" enabled="true" stopProcessing="true">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/cronos/" />
                </rule>
            </rules>
            <outboundRules>
                <clear />
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
                <rule name="Enable CORS for Fonts and JSON" enabled="true">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" ignoreCase="true" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="^[^\?]+\.(ttf|otf|eot|woff|woff2|svg|json)(\?.*)?$" />
					</conditions>
					<action type="Rewrite" value="*" />
				</rule>
            </outboundRules>
        </rewrite>
        <httpProtocol>
		  <customHeaders>
			<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
		  </customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>