app-scenario-results-visualization {

  app-preliminary-data-gauge .p-panel-content {
    min-height: 150px;
  }

    /* Definição das linhas com alturas específicas */
  .row-visualization {
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    display: grid;
  }

  .row-title {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    display: grid;
  }

  /* Estilos para os painéis */
  .panel {
    padding: 8px;
  }

}