app-scenario-panting-plan {
  .team-table-panel {
    width: 500px;
    height: calc(100vh - 330px);
    overflow-y: auto;
  }
  .available-system-table-panel {
    width: 500px;
    height: calc(100vh - 330px);
    overflow-y: auto;
  }
  .p-tree-flex-scrollable { display: block !important; border: none; }
  .p-toolbar { padding: 0.75rem; border: none; }
  .p-paginator { font-size: 10px; }
  .p-paginator .p-paginator-pages .p-paginator-page { min-width: 2rem; }
  .p-selectable-row .p-button.p-button-icon-only {
    padding: 0rem;
    height: 1.5rem;
  }
  .database-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  // Utilizando o posicionamento para garantir a seleção do texto correto
  app-svg-gauge svg text[x="50%"][y="50%"] {
    font-size: 1.25rem;
  }
}