<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Basic chart - Raw model</h5>
    <smz-ui-chart
      [type]="basicChart.type"
      [data]="basicChart.data"
      [options]="basicChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Basic chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Basic chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Vertical bar chart - Raw model</h5>
    <smz-ui-chart
      [type]="verticalBarChart.type"
      [data]="verticalBarChart.data"
      [options]="verticalBarChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Vertical bar chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Vertical bar chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Horizontal bar chart - Raw model</h5>
    <smz-ui-chart
      [type]="horizontalBarChart.type"
      [data]="horizontalBarChart.data"
      [options]="horizontalBarChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Horizontal bar chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Horizontal bar chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Stacked bar chart - Raw model</h5>
    <smz-ui-chart
      [type]="stackedBarChart.type"
      [data]="stackedBarChart.data"
      [options]="stackedBarChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Stacked bar chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Stacked bar chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Rounded bar chart - Raw model</h5>
    <smz-ui-chart
      [type]="roundedBarChart.type"
      [data]="roundedBarChart.data"
      [options]="roundedBarChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Rounded bar chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Rounded bar chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Line chart - Raw model</h5>
    <smz-ui-chart
      [type]="lineChart.type"
      [data]="lineChart.data"
      [options]="lineChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Line chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Line chart - FluentAPI C#</h5>
  </div>
</div>


<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Doughnut chart - Raw model</h5>
    <smz-ui-chart
      [type]="doughnutChart.type"
      [data]="doughnutChart.data"
      [options]="doughnutChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Doughnut chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Doughnut chart - FluentAPI C#</h5>
  </div>
</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Polar area chart - Raw model</h5>
    <smz-ui-chart
      [type]="polarArea.type"
      [data]="polarArea.data"
      [options]="polarArea.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Polar area chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Polar area chart - FluentAPI C#</h5>
  </div>
</div>


<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Pie chart - Raw model</h5>
    <smz-ui-chart
      [type]="pieChart.type"
      [data]="pieChart.data"
      [options]="pieChart.options"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Pie chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Pie chart - FluentAPI C#</h5>
  </div>
</div>


<div class="grid grid-cols-3 gap-4">
  <div>
    <h5>Basic chart - Raw model</h5>
    <smz-ui-chart
      [type]="combochart.type"
      [options]="combochart.options"
      [data]="combochart.data"
      (chartClick)="chartClicked($event)"
    ></smz-ui-chart>
  </div>
  <div>
    <h5>Basic chart - FluentAPI Typescript</h5>
  </div>
  <div>
    <h5>Basic chart - FluentAPI C#</h5>
  </div>
</div>
