<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>


<!-- <button pButton pRipple uiActionDispatch [method]="'onClick'" type="button" icon="fas fa-angle-left" class="p-button-rounded p-button-text p-button-plain" ></button> -->

<div class="p-grid p-nogutter p-align-center p-justify-start p-col-8">
  <smz-input-tag-area [rows]="10" [control]="inputControl" [config]="config" class="p-col-12"></smz-input-tag-area>
</div>

<!-- <div class="p-grid p-nogutter p-col6 p-m-5">
  <div class="p-grid p-nogutter p-flex-column p-col3 p-pr-4">
    <h2>Estados de Conversão</h2>
    <smz-tag-message severity="viewer-0" text="Em Espera" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-10" text="Na Fila" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-20" text="Aguardando Licença" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-30" text="Licença em Uso" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-40" text="Convertendo" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-50" text="Convertido" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-60" text="Cancelado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="viewer-70" text="Erro" [grow]="true" class="p-mb-2"></smz-tag-message>
  </div>

  <div class="p-grid p-nogutter p-flex-column p-col3 p-pr-4">
    <h2>Estados de Publicação</h2>
    <smz-tag-message severity="publish-0" text="Impublicável" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="publish-1" text="Não publicado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="publish-3" text="Publicado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="publish-2" text="Desatualizado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="publish-4" text="Erro" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="publish-5" text="Publicando" [grow]="true" class="p-mb-2"></smz-tag-message>
  </div>

  <div class="p-grid p-nogutter p-flex-column p-col3 p-pr-4">
    <h2>Estados de Tarefa</h2>
    <smz-tag-message severity="task-0" text="Válida" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="task-1" text="Inválida" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="task-2" text="Erro" [grow]="true" class="p-mb-2"></smz-tag-message>
  </div>

  <div class="p-grid p-nogutter p-flex-column p-col3 p-pr-4">
    <h2>Estados de Histórico</h2>
    <smz-tag-message severity="history-20" text="Aguardando Licença" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="history-50" text="Convertido" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="history-51" text="Publicado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="history-60" text="Cancelado" [grow]="true" class="p-mb-2"></smz-tag-message>
    <smz-tag-message severity="history-70" text="Erro" [grow]="true" class="p-mb-2"></smz-tag-message>
  </div>

</div> -->
