<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>
<p>Details Works!!</p>

<button pButton  type="button" icon="fas fa-angle-left" class="p-button-rounded p-button-text p-button-plain" label="Confirmation" (click)="testConfirmation()"></button>

<div class="grid grid-nogutter align-items-center justify-content-start col-8">
  <smz-input-tag-area [rows]="10" [control]="inputControl" [config]="config" class="col-12"></smz-input-tag-area>
</div>
