<h2>Demo Editable table</h2>
<ng-container *ngIf="services$ | async as items">

  <smz-ui-table #smzTable [items]="items" [state]="tableState" (update)="onUpdate($event)">

    <!-- CONTEÚDOS COM OVERRIDE -->
    <ng-template pTemplate="content" let-item let-col="col">

      <ng-container [ngSwitch]="col.field">

        <ng-container *ngSwitchCase="'cost'">
          <div>{{ item.cost | currency : 'R$ ' }}</div>
        </ng-container>

        <ng-container *ngSwitchCase="'price'">
          <div>{{ item.price | currency : 'R$ ' }}</div>
        </ng-container>

      </ng-container>

    </ng-template>

  </smz-ui-table>

</ng-container>
