.p-tabview-panels {
  padding: 0.5em 0em !important;
}

.p-tabview .p-tabview-panels {
  background: var(--surface-b);
  padding: 1.25rem;
  border: 0 none;
  color: var(--text-color);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}