app-available-man-hour-scenario-settings,
app-corrosion-goal-scenario-settings,
app-criticity-scenario-settings,
app-prioritization-scenario-settings,
app-rti-scenario-settings {
  .p-toolbar { padding: 0.75rem; border: none; }
}