<p-toolbar>
  <div class="p-toolbar-group-start flex gap-4">
    <div class="text-2xl font-bold">{{scenario.strategyDisplayName}}</div>
    <div class="border border-gray-300 bg-gray-100 rounded-md px-2 py-1">
      <span class="text-sm font-bold">{{ scenarioStatusDescription[scenario.status] }}</span>
    </div>
  </div>

  @if (!hasRtiHidroblastCoverage && scenario.considerProximity) {
  <div class="text-yellow-600 font-bold bg-white border border-yellow-600 rounded-md px-2 py-1 w-[45rem]">
    <span class="fa-solid fa-circle-exclamation py-1 px-3 mr-2"></span>
    <span>Não foram encontradas RTIs abertas nas regiões de atuação dos possíveis locais para centro de
     hidrojato. Portanto, o plano de pintura gerado não irá quitar nenhuma RTI.</span>
  </div>
  }

  <div class="p-toolbar-group-center">
    <div *ngIf="isEditing" class="text-red-500 font-bold bg-white border border-red-500 rounded-md px-2 py-1">
      <span class="fa-solid fa-circle-exclamation py-1 px-3 mr-2"></span>
      <span>Atenção: alterações não salvas serão perdidas.</span>
    </div>
  </div>

  <div class="p-toolbar-group-end">
    <p-button *ngIf="!isEditing" label="Editar" icon="fa-solid fa-pencil" class="mr-2" severity="secondary" size="large" (onClick)="enableEditing()" [disabled]="checkPlanningStatus() || !(manageAnnualPlanningClaim | rbkCanAccess)"/>
    <p-button *ngIf="isEditing" label="Salvar" icon="fa-solid fa-save" class="mr-2" severity="success" size="large" (onClick)="updateScenario()" [disabled]="!isValid"/>
    <p-button *ngIf="isEditing" label="Cancelar" icon="fa-solid fa-xmark" severity="danger" size="large" (onClick)="disableEditing()"/>
  </div>
</p-toolbar>

<div class="flex-grow relative w-full mt-1 mb-3 h-full">
  <!-- TODO: o uso de $any($event) é uma solução temporária para o problema de tipagem do evento emitido pelo componente.
   Cada componente deverá ter o seu próprio html template ou crie um componente dump para receber o evento e repassar para o componente pai. -->
  <app-scenario-update *ngIf="formData" [data]="formData" (general)="getGeneralData($any($event))" (teams)="getTeams($any($event))" (isValid)="validateForm($any($event))" [allowEditing]="isEditing"></app-scenario-update>
</div>