<p>Side Content Works!!</p>
<button pButton type="button" class="p-button-primary mr-2" label="Toggle Visibility" (click)="toggleVisible()"></button>
<button pButton type="button" class="p-button-primary mr-2" label="Toggle Overlay" (click)="toggleOverlay()"></button>
<button pButton type="button" class="p-button-primary mr-2" label="Toggle Position" (click)="togglePosition()"></button>

<smz-side-content [config]="sideContentConfig" [visible]="visible" [position]="position" [overlay]="overlay" (onHide)="visible = false">
  <ng-template pTemplate="content">
    <p>Template Content Works!!</p>
  </ng-template>
</smz-side-content>