:root {
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--p-focus-ring-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);

    --surface-a: var(--p-surface-0);
    --surface-b: var(--p-surface-50);
    --surface-c: var(--p-surface-100);
    --surface-d: var(--p-surface-200);
    --surface-e: var(--p-surface-0);
    --surface-f: var(--p-surface-0);
    --primary-color-text: var(--p-primary-contrast-color);
    --surface-0: var(--p-surface-0);
    --surface-50: var(--p-surface-50);
    --surface-100: var(--p-surface-100);
    --surface-200: var(--p-surface-200);
    --surface-300: var(--p-surface-300);
    --surface-400: var(--p-surface-400);
    --surface-500: var(--p-surface-500);
    --surface-600: var(--p-surface-600);
    --surface-700: var(--p-surface-700);
    --surface-800: var(--p-surface-800);
    --surface-900: var(--p-surface-900);
    --gray-50: var(--p-surface-50);
    --gray-100: var(--p-surface-100);
    --gray-200: var(--p-surface-200);
    --gray-300: var(--p-surface-300);
    --gray-400: var(--p-surface-400);
    --gray-500: var(--p-surface-500);
    --gray-600: var(--p-surface-600);
    --gray-700: var(--p-surface-700);
    --gray-800: var(--p-surface-800);
    --gray-900: var(--p-surface-900);
    --content-padding: 1.25rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --surface-ground: var(--p-surface-100);
    --surface-section: var(--p-surface-0);
    --focus-ring: 0 0 0 var(--focus-ring-width) var(--focus-ring-color);
}
