<smz-ui-table #smzTable [items]="items$ | async" [state]="tableState" [loading]="loading" (selectionChange)="test($event)">

  <ng-template pTemplate="emptyActions">
    <button pButton label="Criar" class="p-mr-2" (click)="loadItems()"></button>
  </ng-template>

  <ng-template pTemplate="caption" let-primeTable>
    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog" (click)="tableLog(smzTable, primeTable)" class="p-mr-2"></button>
  </ng-template>

  <!-- CONTEÚDOS COM OVERRIDE -->
  <ng-template pTemplate="content" let-item let-col="col">

    <ng-container [ngSwitch]="col.field">
      <ng-container *ngSwitchCase="'description'">
        >> {{ item.description }}
      </ng-container>

      <ng-container *ngSwitchCase="'price'">
        -- {{ item.price }}
      </ng-container>
    </ng-container>

  </ng-template>

  <!-- AÇÕES PERSONALIZADAS -->
  <ng-template pTemplate="actions" let-item>
    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog" (click)="test(item)"></button>
  </ng-template>

  <!-- SEM CONFIGURAÇÃO -->
  <ng-template pTemplate="emptyConfig" let-item>
    Nenhuma configuração encontrada.
  </ng-template>

</smz-ui-table>