<h2>Sample table</h2>
<smz-ui-table #smzTable [items]="items$ | async" [state]="tableState" [loading]="loading" (selectionChange)="test($event)">

  <ng-template pTemplate="emptyActions">
    <button pButton label="Criar" class="p-mr-2" (click)="loadItems()"></button>
  </ng-template>

  <ng-template pTemplate="caption" let-primeTable>
    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog" (click)="tableLog(smzTable, primeTable)" class="p-mr-2"></button>
  </ng-template>

  <!-- CONTEÚDOS COM OVERRIDE -->
  <ng-template pTemplate="content" let-item let-col="col">

    <ng-container [ngSwitch]="col.field">
      <ng-container *ngSwitchCase="'description'">
        >> {{ item.description }}
      </ng-container>

      <ng-container *ngSwitchCase="'price'">
        -- {{ item.price }}
      </ng-container>
    </ng-container>

  </ng-template>

  <!-- AÇÕES PERSONALIZADAS -->
  <ng-template pTemplate="actions" let-item>
    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog" (click)="test(item)"></button>
  </ng-template>

  <!-- SEM STATE -->
  <ng-template pTemplate="emptyState" let-item>
    Nenhum state encontrado.
  </ng-template>

  <!-- TOOLBAR -->
  <ng-template pTemplate="toolbar" let-item>
    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary p-button-text"></button>
    <button pButton pRipple type="button" icon="pi pi-filter" class="p-button-rounded p-button-text p-button-plain"></button>
  </ng-template>

</smz-ui-table>

<h2>Empty table</h2>
<smz-ui-table #smzTable [items]="emptyData" [state]="emptyTableState"></smz-ui-table>
