html {
  scrollbar-color: var(--surface-d) var(--primary-color-menu-bg);
  scrollbar-width: thin;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-button { height: 0px;}
::-webkit-scrollbar-track { background-color: var(--primary-color-menu-bg); border-radius: 5px; }
::-webkit-scrollbar-track-piece { background-color: var(--primary-color-menu-bg); border-radius: 5px; }
::-webkit-scrollbar-thumb { background-color: var(--surface-d); border-radius: 5px; }
::-webkit-scrollbar-corner { background-color: var(--surface-d); }
::-webkit-resizer { background-color: var(--primary-color-menu-bg); }