.pretty-json {
  font-weight: 400;
  display: block;

  .number-line {
    color: var(--surface-400);
  }
  .string {
    color: var(--primary-color);
  }
  .number {
    color: var(--primary-color);
  }
  .boolean {
    color: var(--primary-color);
  }
  .null {
    color: var(--color-danger);
  }
  .key {
    color: var(--surface-900);
  }
}