:host {
  display: block;
}

.demos-demo-section {
  margin-bottom: 2.5rem;

  .demos-demo-section__example {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  .demos-demo-section__chart {
    min-width: 600px;
    max-width: 800px;
    max-height: 300px;
  }
}
